.promo {
  .list-reset();
  display: grid;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(3, 256px);
    grid-column: 1 / -1;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(3, 400px);
    grid-column: 1 / -1;
  }
}

.promo__item {
  padding: 23px 18px;
}

.promo__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  padding: 0;
  margin: 0;
}

.promo__text {
  text-transform: uppercase;
  color: @base-text-color;
  padding: 0;
  margin: 0;
}
